#react-paginate
{
  background-color: #f2f2f2;
}
#react-paginate ul {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#react-paginate li {
  display: inline-block;

  &.active
  {
    a
    {
      color: #41c7f4;
    }
  }

  a
  {
    display: block;
    cursor: pointer;
    color: #000000;
    padding: 5px 10px;
  }
}

#react-paginate .break a {
  display: block;
  cursor: default;
}